extends layout

block content

  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js')
  // Enables use of Angular
  div(ng-app="App" ng-controller="Controller")
    h1#intro= title
    p#greet Welcome to #{title}
    p#info This is for Project One in my API course. It takes info from
      a(href = "https://openweathermap.org/") openweathermap.org
    p#info Thanks to that, I was able to make a weather report for Chicago, as well as other cities you can call.
    p#info Currently Chicago is on display, but that can be adjusted with the nearby dropdown menu.
    p The API lists the weather report over the next 5 days in intervals of 3 hours.

    include ../public/html/interactive.html
