<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js'></script>
<script src="../javascripts/buttons.js"></script> <!--Gets the JS code for interacting with the website-->

<section ng-app="App" ng-controller="Controller">
<p> City: <select ng-model="selectedCity" ng-options="x for x in cities"></select></p>
<p> System of measurement: <select ng-model="selectedUnit" ng-options="y for y in measures"></select></p>
<p> Number of reports: <select ng-model="displayNum" ng-options="z for z in display"></select></p>
<p>Click to generate the weather report: <input type="button" ng-click="drawTable(selectedCity,selectedUnit,displayNum)" value="Create Report"></p>
<p>Help: <input type="button" ng-click="help()" value="Help"></p>
<table id="allReports">
  <thead>
    <tr id="tHeading">
      <th>Time</th>
      <th>Temperature</th>
      <th>Min Temp</th>
      <th>Max Temp</th>
      <th>Weather</th>
      <th>Cloudiness</th>
      <th>Humidity</th>
      <th>Wind Speed (mph)</th>
      <th>Wind Direction</th>
      <th>Pressure (hPa)</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="report in reportList track by $index">
      <td>{{report.date}}</td>
      <td>{{report.temp}}</td>
      <td>{{report.min}}</td>
      <td>{{report.max}}</td>
      <td>{{report.weath}}</td>
      <td>{{report.cloud}}</td>
      <td>{{report.hum}}</td>
      <td>{{report.speed}}</td>
      <td>{{report.dir}}</td>
      <td>{{report.pres}}</td>
    </tr>
  </tbody>
</table>
</section>
