extends layout

block content
  script weatherReport();
  h1#intro= title
  p#greet Welcome to #{title}
  p#info This is for Project One in my API course. It takes info from
    a(href = https://openweathermap.org/) openweathermap.org
  p#info Thanks to that, I was able to make a weather report for Chicago!
  p#info The table will automatically populate using a call to the openweathermap API, delivering a report for the next couple of days.
  table#reports
    tr
      th Date/time
      th Current Temp (F)
      th Minimum Temp (F)
      th Maximum Temp (F)
      th Weather
      th Description  // futher description of weather
      th Humidity %
      th Wind Speed (mph)
      th Wind Direction
      th Pressure (hPa)
      th Sea Level Pressure (hPa)
      th Ground Level Pressure (hPa)
      th Cloudiness %
  template#report
    tr
      th#date
      th#temp
      th#min_temp
      th#max_temp
      th#weather
      th#weather_desc
      th#humidity
      th#wind_speed
      th#wind_degree
      th#pressure
      th#sea_level
      th#ground_level
      th#cloudiness
